@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* html {
  font-size: 40px;
} */

/* * {
  border: 1px dashed red;
  min-height: 10px;
} */

body {
  background-image: linear-gradient(
    to bottom ,
    rgb(181, 2, 2),
    rgb(68, 0, 0)
  );
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.card {
  background: white;
  width: 550px;
  height: 80vh;
  margin: 3vh auto;
  border-radius: 20px;
  padding: 0;
}

.cardValue {
  font-size: 16em;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 59%;
}

.cardSuit {
  height: 20%;
  font-size: 8em;
  padding: 0;
  display: grid;
  align-items: center;
}

.leftText {
    text-align: left;
    padding-left: 5%;
}

.rightText{
    text-align: right;
    padding-right: 5%;
}

.centerText{
    text-align: center;
}

button:hover {
	cursor: pointer;
    background-image: linear-gradient(to right, rgb(1, 131, 53), rgb(7, 121, 173));
}

button {
	background-image: linear-gradient(to right, rgb(7, 121, 173), rgb(1, 96, 39));
	color: white;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-size: 2em;
	font-style: normal;
	border-width: 2px;
    border-color: wheat;
	border-radius: 50px;
	width: 300px;
    height: 8vh;
    margin-top: 1%;
}

.timerDisplay {
    font-size: 1.5em;
    color: #e4e4e4;
    padding: 10px;
    min-width: 200px;
}